body {
    font-family: sans-serif;
}


header {
   background: #7c0303;

}
.btn-primary {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px;
    outline: none;
}
.head {
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.btn-mosi {
    background-color: #000 !important;
    
}
.nav-link:hover {
    color: #000!important;
}
.upper {
    position: relative;
    bottom: 8px;
    right: 8px;
}

.heading {
    font-weight: bold;
    font-size: 3rem;
    color: #000;
}
.para {
    font-size: 2rem;
    color: #74C69D;
    position: relative;
    top: 5px;
}
.space {
    line-height:40px;
    font-size: 18px;
}
footer {
    background: #9a0e0e;
    margin-top: 15px;
}

.first-img{
    background: #9a0e0e;
    display: flex;
    justify-content: center;
    height: 459px;
}

@media only screen and (max-width: 500px) {
     .hero-row {
        width: 250px;
        padding-left: 75px;
        gap: 8px;
     }
      .btn-two {
       width: 200px;

      }
      .first-img {
        padding-left: 20px !important;
        background: none;
        
      }
      .first-img img {
        width: 350px !important;
      }
      .last-imgs {
        width:300px;
        padding-left: 70px;
        gap: 20px;
      }
    
  }